@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
* {
  margin: 0;
}

body {
  background-color: #ccd5f1;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__graphTitle {
  margin-top: 27px;
  margin-bottom: 27px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph {
  flex-grow: 1;
}
h1{
  border: grey;
  text-decoration: underline;
  font-weight: 200;
  font: sans-serif;
  font-family: 'Potta One', cursive !important;
  padding: 15px;
  margin-left:34% ;
  margin-right: 22%;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

h3{
  text-align: center;
  text-decoration: 1.4px underline;
}
@media (max-width: 899px) 
{ h1
  {
    margin-left:3px ;
    margin-right: 2px;
  }
Typography
  {
    font-size: 15rem !important;
  }


}